################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CorepetitorApi/appsettings.json
CorepetitorApi/bin/Debug/net7.0/appsettings.json
CorepetitorApi/.vs/CorepetitorApi/DesignTimeBuild/.dtbcache.v2
CorepetitorApi/.vs/CorepetitorApi/FileContentIndex/2bcfa595-98b7-41c5-94cf-450bea814f36.vsidx
CorepetitorApi/.vs/CorepetitorApi/FileContentIndex/4d88f777-fd9f-4481-8afd-f6ca1ab3557d.vsidx
CorepetitorApi/.vs/CorepetitorApi/FileContentIndex/3496b3ea-7476-45f6-9e31-9892067b0798.vsidx
CorepetitorApi/.vs/CorepetitorApi/FileContentIndex/4322a6e6-dff6-43c0-a113-a9678bb56c6a.vsidx
CorepetitorApi/.vs/CorepetitorApi/FileContentIndex/a6c0006a-cfc1-4782-91a1-3d9e0bad94b1.vsidx
CorepetitorApi/.vs/CorepetitorApi/FileContentIndex/d749ec5b-104d-4cda-adcf-78e8251fddeb.vsidx
CorepetitorApi/.vs/CorepetitorApi/v17/.suo
CorepetitorApi/.vs/CorepetitorApi/v17/DocumentLayout.backup.json
CorepetitorApi/.vs/CorepetitorApi/v17/DocumentLayout.json
CorepetitorApi/bin/Debug/net7.0/CorepetitorApi.dll
CorepetitorApi/bin/Debug/net7.0/CorepetitorApi.exe
CorepetitorApi/bin/Debug/net7.0/CorepetitorApi.pdb
CorepetitorApi/obj/Debug/net7.0/apphost.exe
CorepetitorApi/obj/Debug/net7.0/CorepetitorApi.AssemblyInfo.cs
CorepetitorApi/obj/Debug/net7.0/CorepetitorApi.AssemblyInfoInputs.cache
CorepetitorApi/obj/Debug/net7.0/CorepetitorApi.dll
CorepetitorApi/obj/Debug/net7.0/CorepetitorApi.pdb
CorepetitorApi/obj/Debug/net7.0/CorepetitorApi.sourcelink.json
CorepetitorApi/obj/Debug/net7.0/ref/CorepetitorApi.dll
CorepetitorApi/obj/Debug/net7.0/refint/CorepetitorApi.dll
