################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CorepetitorApi/appsettings.json
CorepetitorApi/bin/Debug/net7.0/appsettings.json
